/******************************************************************************
 * Squarespace Hacks
*******************************************************************************/
.sqs-layout .sqs-block {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    }
.sqs-layout .sqs-block-image,
.sqs-layout .sqs-block-gallery .gallery:not(.gallery--slider) {
    padding-left: $wrapper-padding !important;
    padding-right: $wrapper-padding !important;
    }
.absolute-cart-box {
    display: none !important;
    }