.button {
    background-color: transparent;
    border: 0;
    color: $dark;
    cursor: pointer;
    height: $nudge-size;
    line-height: $nudge-size;
    outline: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    -webkit-appearance: none;
    }